
body {
    background-color: #fff !important;
    color: black !important;
}
section{
    >div h1{
        color: black !important;
    }
    >div p{
        color: #00000094;
    }
    input{
        border: 2px solid rgba(0, 0, 0, 0.349) !important;
        border-right: none !important;
    }
}
.box{
    background: #eee;
    box-shadow: 0px 4px 9px 2px #0000000a !important;

}
.box a{
    color: #000 !important;
}
.box p{
    color:rgba(0, 0, 0, 0.767) !important;
}

.result{
    background: #eee !important;
}
.result a ,.result span {color: #000 !important;}
.result p{color: #0000009a !important;}
footer{
    background: #eee !important;
    p{
        color: #000 !important;
    }
}